* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #14140F;
    color: #fff;
    min-height: 100vh;
    padding: 30px 0px 0px 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1 {
    text-align: center;
    font-size: clamp(3rem, 5vw, 3.5rem);
    margin-bottom: 25px;
}

form {
    width: 98%;
    max-width: 780px;
    margin: auto;
    gap: 0.5rem;
}

div.inputs {
    display: flex;
    justify-content: center;
    gap: 0.5rem
}

input[type="text"] {
    height: 2.5rem;
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 6px;
}

button[type="submit"] {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 50%;
    background-color: #889C9B;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.1s;
}

button[type="submit"]:hover {
    background-color: #586b6a;
}

div.lista {
    background-color: #889C9B;
    border-radius: 20px;
    min-height: 500px;
    width: 98%;
    max-width: 780px;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

ul {
    list-style: none;
    width: 100%;
}

div.item {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

input:checked+li {
    text-decoration: line-through;
}

li {
    text-align: left;
    font-size: 1.5rem;
    word-break: break-word;
}

hr {
    width: 100%;
    margin: 8px auto;
}

.riscado {
    text-decoration: line-through;
}

footer {
    width: 100%;
    background-color: #889C9B;
    color: #14140F;
    padding: 10px 0;
}

footer p {
    text-align: center;
    font-weight: bold;
}