* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #fff;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #1e4daf;
    color: #fff;
    margin-bottom: 30px;
    padding: 32px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;
}

header a{
    text-decoration: none;
    font-size: clamp(0.95rem, 3vw, 1.2rem);
    color: #fff;
}

h1 {
    text-align: center;
    font-size: clamp(2.9rem, 5vw, 3.5rem);
}

form {
    width: 98%;
    max-width: 780px;
    margin: auto;
    gap: 0.5rem;
}

div.inputs {
    display: flex;
    justify-content: center;
    gap: 0.5rem
}

input[type="text"] {
    height: 2.5rem;
    width: 100%;
    padding: 5px;
    border: 1px solid #1e4daf;
    outline: none;
    border-radius: 12px;
}

button[type="submit"] {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 50%;
    background-color: #1e4daf;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
}

div.lista {
    border: 2px solid #1e4daf;
    border-radius: 20px;
    min-height: 500px;
    width: 98%;
    max-width: 780px;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    margin: 26px auto;
}

ul {
    list-style: none;
    width: 100%;
}

div.item {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

div.item form{
    width: auto;
    position: absolute;
    top: -10px;
    right: -14px;
}

input[type="checkbox"] {
    width: 22px;
    height: 30px;
    margin: 0 10px;
}

input:checked+li {
    text-decoration: line-through;
}

li {
    color: #1e4daf;
    text-align: left;
    width: 84%;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    word-break: break-word;
}

button.excluir {
    background-color: transparent;
    color: #000;
}

hr {
    background-color: #1e4daf;
    width: 100%;
    border: none;
    height: 1px;
    margin: 8px auto;
}

footer {
    width: 100%;
    background-color: #1e4daf;
    color: #fff;
    padding: 10px 0;
}

footer p {
    text-align: center;
    font-weight: bold;
    font-size: clamp(0.85rem, 2vw, 1.05rem);
}

@media screen and (max-width: 780px) {
    header {
        flex-direction: column;
        gap: 8px;
    }
}