* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #635063;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #f7f3d5;
    color: #635063;
    margin-bottom: 30px;
    padding: 32px 0;
}

h1 {
    text-align: center;
    font-size: clamp(2.9rem, 5vw, 3.5rem);
}

form {
    width: 98%;
    max-width: 780px;
    margin: auto;
    gap: 0.5rem;
}

div.inputs {
    display: flex;
    justify-content: center;
    gap: 0.5rem
}

input[type="text"] {
    height: 2.5rem;
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 12px;
}

button[type="submit"] {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 50%;
    background-color: #f7f3d5;
    color: #635063;
    font-size: 1.1rem;
    font-weight: bold;
}

div.lista {
    background-color: #f7f3d5;
    border-radius: 20px;
    min-height: 500px;
    width: 98%;
    max-width: 780px;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    margin: 26px auto;
}

ul {
    list-style: none;
    width: 100%;
}

div.item {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    width: 22px;
    height: 30px;
    margin: 0 10px;
}

input:checked+li {
    text-decoration: line-through;
}

li {
    color: #635063;
    text-align: left;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    word-break: break-word;
}

hr {
    width: 100%;
    margin: 8px auto;
}

footer {
    width: 100%;
    background-color: #f7f3d5;
    color: #635063;
    padding: 10px 0;
}

footer p {
    text-align: center;
    font-weight: bold;
    font-size: clamp(0.85rem, 2vw, 1.05rem);
}